## Data Loading and Initialization

### Import Libraries

In [1]:
# Suppress warnings for cleaner output
import warnings
warnings.filterwarnings('ignore')

This project utilises Pandas for data manipulation and analysis, and employs Matplotlib, Seaborn, and Squarify for data visualisation.

In [ ]:
!pip install pandas matplotlib seaborn squarify

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import squarify

### Load Datasets

The project uses three datasets: two sourced from Kaggle that provide data on movies and TV shows, and a third dataset on subscription plans that I collected independently.

In [4]:
movies_data = pd.read_csv('Data/movies_data.csv')
movies_data.head()

,Unnamed: 0,ID,Title,Year,Age,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,The Irishman,2019,18+,98/100,1,0,0,0,0
1,1,2,Dangal,2016,7+,97/100,1,0,0,0,0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,95/100,1,0,0,0,0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,94/100,1,0,0,0,0
4,4,5,Roma,2018,18+,94/100,1,0,0,0,0

In [5]:
tv_shows = pd.read_csv('Data/tv_shows.csv')
tv_shows.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [6]:
svod_ad_plans = pd.read_csv('Data/svod_ad_plans.csv')
svod_ad_plans

,SN,Platform,Plan Name,Ad-Supported,Resolution,Devices Supported,Download Support,Price (US$)
0,1,Disney+,Basic,Yes,1080p,2,No,$7.99
1,2,Hulu,Hulu (With Ads),Yes,1080p,2,No,$7.99
2,3,Netflix,Standard with ads,Yes,1080p,2,Yes,$6.99
3,4,Prime Video,Prime Video,Yes,1080p,2,Yes,$8.99

**Note:** The data collected for subscription plans include only the most basic and cost-effective options from each platform, deliberately omitting bundled packages, special offers, and additional perks to ensure a uniform and objective comparison.